@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Our Privacy Policy is very simple.</p>
<p>We sell all your data to foreign and domestic agencies, including governments, commercial businesses, private persons of high social status and especially your mom and dad.</p>
<p>This is for the express purpose of tracking you, keeping you poor, making sure you do not have any autonomy in this life and that the status quo keeps the rich in power.</p>
<p>We are evil, but we are transparent.</p><br />
<p>Do not attempt to contact us in order to revoke your data, we don't listen and we most definitely do not care about you at all.</p>
<p>Have a nice day.</p>
<p>Best regards,</p>
<p>Mark Zuckerberg</p>
<p>CEO of Meta</p>
<img src="https://pngimg.com/d/meta_PNG12.png" style="max-height:128px;width:auto;" />