@page
@model H3___Secure_Login_With_GUI.Pages.RegisterModel
@{
}

<p>@Model.RegisterMessage</p>
<p>@ViewData["error"]</p>

<form method="post" id="register-form" asp-page-handler="Register" class="form m-2">
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" id="username" asp-for="Register.Username" class="form-control" />
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" id="password" asp-for="Register.Password" class="form-control" />
	</div>
	<div class="form-group">
		<label for="password">Confirm Password</label>
		<input type="password" id="password" asp-for="@Model.ConfirmPassword" class="form-control" />
	</div>
	<span id="register-error-message" class="text-danger">@ViewData["error"]</span>
	<div class="form-group">
		<button type="submit" class="btn btn-primary mt-2">Register</button>
	</div>
</form>